<ul class="tab tab-block">
  <li class="tab-item">
    <a href="/">Search</a>
  </li>
  <li class="tab-item active">
    <a href="/full">Full Graph (Live)</a>
  </li>
</ul>


<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js" charset="utf-8"></script>
<script src="/static/js/neo4j-web.min.js" charset="utf-8"></script>
<script src="/static/js/serializer.js" charset="utf-8"></script>
<script src="/static/js/d3app.js" charset="utf-8"></script>
<script src="/static/js/boltAdapter.js" charset="utf-8"></script>

<script type="text/javascript">
  let fullGraphData = {nodes: [], links: []};
  getAllNodes();
  establishWebSocket();
</script>
<svg width="960" height="600"></svg>
<script src="https://d3js.org/d3.v4.min.js"></script>
