<ul class="tab tab-block">
  <li class="tab-item active">
    <a href="/">Search</a>
  </li>
  <li class="tab-item">
    <a href="/full">Full Graph (Live)</a>
  </li>
</ul>
<div class="columns">
  <form class="" action="" method="post" id="searchForm">
    <div class="column col-11 input-group">
      <input class="form-input input-group-addon" type="text" id="domainSearch" placeholder="Type or click a domain or IP address" alt="Type domain or IP here to retrieve results." />
      <select class="form-select select">
        <option>2</option>
        <option>3</option>
        <option>4</option>
      </select>
      <input type="submit" class="btn btn-primary input-group-btn" />
    </div>
  </form>
</div>
<div>Some Examples:
{{#each samples}}
  <span class="label label-primary pill">{{this}}</span>
{{/each}}
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js" charset="utf-8"></script>
<script src="/static/js/neo4j-web.min.js" charset="utf-8"></script>
<script src="/static/js/ui.js" charset="utf-8"></script>
<script src="/static/js/serializer.js" charset="utf-8"></script>
<script src="/static/js/d3app.js" charset="utf-8"></script>
<script type="text/javascript">
  let fullGraphData = {nodes: [], links: []};
  let searchCallback = (e) => {
    fullGraphData = {nodes: [], links: []}
    document.getElementById("myGraph").innerHTML = "";

    let domain = document.getElementById("domainSearch");
    console.log(fullGraphData);
    findNodeRelationships(domain.value);
    fullGraphData.nodes.push({id: domain.value});
  };
</script>
<script src="/static/js/boltAdapter.js" charset="utf-8"></script>
<svg width="960" height="600" id="myGraph"></svg>
<script src="https://d3js.org/d3.v4.min.js"></script>
