<h1>Welcome to neo-graph</h1>

<h4>A small proof of concept for streaming data from neo4j to the browser.</h4>

<p><strong>Getting Started:</strong></p>
<p>In the input box below, type an IP address, a domain name,
  or leave it blank to see all nodes in the graph.</p>

<p>
  <form class="" action="" method="post" id="searchForm">
    <div class="input-group">
      <input class="form-input" type="text" id="domainSearch" alt="Type domain or IP here to retrieve results." />
      <input type="submit" class="btn btn-primary input-group-btn" value="Search"/>
    </div>
  </form>
</p>

<div>Some Examples:
{{#each samples}}
  <span class="label label-primary pill">{{this}}</span>
{{/each}}
</div>

<script src="/static/js/main.js" charset="utf-8"></script>
